version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1-stretch
    steps:
      - add_ssh_keys:
          fingerprints:
            - "86:85:bc:80:cc:a7:91:e6:2c:bd:51:17:28:58:4c:05"

      - checkout
      - run: sudo apt update; sudo apt -y install php; sudo mkdir -p /data
      - run: php -r "readfile('http://getcomposer.org/installer');" | sudo php --install-dir=/usr/local/bin --filename=composer
      - run: chmod +x /usr/local/bin/composer
      - run: /usr/local/bin/composer -d /data install

      - setup_remote_docker
      - run: |
             #docker build -v /data --name data alpine:3.4 /bin/true
             # docker create -v /data --name data alpine:3.4 /bin/true
             # docker cp /etc data:/data
             # docker run --volumes-from data pulakivasilaki/ffw:1.0.173
             env
             pwd; ls -la

