version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1-stretch
    steps:
      - add_ssh_keys:
          fingerprints:
            - "86:85:bc:80:cc:a7:91:e6:2c:bd:51:17:28:58:4c:05"

      - checkout
      - run: git clone $CIRCLE_REPOSITORY_URL $CIRCLE_PROJECT_REPONAME

      - setup_remote_docker
      - run: |
             # docker create -v /data --name data alpine:3.4 /bin/true
             # docker cp /etc data:/data
             # docker run --volumes-from data pulakivasilaki/ffw:1.0.173
             env
             pwd; ls -la

